
<script>
// if (typeof jQuery != 'undefined') {
//   // jQuery is loaded => print the version
//   alert(jQuery.fn.jquery);
// }

  $(function() {
      $( "#books-search-txt" ).autocomplete({
        source: "/search",
        appendTo: '#books-search-results',
        select: $.proxy(function(e, ui) {
             location.href="/courses/" + ui.item.id;
           }, this)
      }).autocomplete('instance')._renderItem = $.proxy(function(ul, item) {
          var markup = [
            '<span class="title">' + item['department'] + " " + item['course_no'] + ": " + item['name'] + '</span>'
          ];
          return $('<li>')
            .append(markup.join(''))
            .appendTo(ul);
        }, this);
  });

  $( function() {
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
</script>

<div class="ui-widget">
  <label for="tags">Tags: </label>
  <input id="tags">
</div>

<div class="books-search">
  <input type="text" id="books-search-txt" autofocus>
  <div class="results" id="books-search-results"></div>
</div>
<!-- <button type="button" id="buttonclickme">Search</button> -->
