<script>
  $(function() {
      $( "#books-search-txt" ).autocomplete({
        source: "/search",
        appendTo: '#books-search-results',
        select: $.proxy(function(e, ui) {
             $("#books-search-txt").val(ui.item['department'] + " " + ui.item['course_no']);
             return false;
           }, this)
      }).autocomplete('instance')._renderItem = $.proxy(function(ul, item) {
          var markup = [
            '<span class="title">' + item['name'] + '</span>',
          ];
          return $('<li>')
            .append(markup.join(''))
            .appendTo(ul);
        }, this);
  });
</script>

<div class="books-search">
  <input type="text" id="books-search-txt" autofocus>
  <div class="results" id="books-search-results"></div>
</div>
