
<script>
  $(function() {
      $( "#course-search-txt" ).autocomplete({
        source: "/search",
        appendTo: '#course-search-results',
        select: $.proxy(function(e, ui) {
             location.href="/courses/" + ui.item.id;
           }, this)
      }).autocomplete('instance')._renderItem = $.proxy(function(ul, item) {
          var markup = [
            '<span class="title">' + item['full_title'] + '</span>'
          ];
          return $('<li>')
            .append(markup.join(''))
            .appendTo(ul);
        }, this);
  });
</script>

<div class="course-search">
  <input type="text" id="course-search-txt" autofocus>
  <div class="results" id="course-search-results"></div>
</div>
