
<script>
// if (typeof jQuery != 'undefined') {
//   // jQuery is loaded => print the version
//   alert(jQuery.fn.jquery);
// }

  $(function() {
      $( "#course-search-txt" ).autocomplete({
        source: "/search",
        appendTo: '#course-search-results',
        select: $.proxy(function(e, ui) {
             location.href="/courses/" + ui.item.id;
           }, this)
      }).autocomplete('instance')._renderItem = $.proxy(function(ul, item) {
          var markup = [
            '<span class="title">' + item['department'] + " " + item['course_no'] + ": " + item['name'] + '</span>'
          ];
          return $('<li>')
            .append(markup.join(''))
            .appendTo(ul);
        }, this);
  });
</script>

<div class="course-search">
  <input type="text" id="course-search-txt" autofocus>
  <div class="results" id="course-search-results"></div>
</div>
<!-- <button type="button" id="buttonclickme">Search</button> -->
