<script>
// if (typeof jQuery != 'undefined') {
//   // jQuery is loaded => print the version
//   alert(jQuery.fn.jquery);
// }
//
//   $(function() {
//       $( "#books-search-txt" ).autocomplete({
//         source: "/search",
//         appendTo: '#books-search-results',
//         select: $.proxy(function(e, ui) {
//              $("#books-search-txt").val(ui.item['department'] + " " + ui.item['course_no']);
//              return false;
//            }, this)
//       }).autocomplete('instance')._renderItem = $.proxy(function(ul, item) {
//           var markup = [
//             '<span class="title">' + item['name'] + '</span>',
//           ];
//           return $('<li>')
//             .append(markup.join(''))
//             .appendTo(ul);
//         }, this);
//   });

</script>

<p id="demo">JavaScript can change HTML content.</p>

<button type="button" onclick="document.getElementById('demo').innerHTML = 'Hello JavaScript!'">Click Me!</button>

<div class="books-search">
  <span>2</span>
  <input type="text" id="books-search-txt" autofocus>
  <div class="results" id="books-search-results"></div>
</div>
