/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* Font and Color */
/* line 19, /Users/Nisha/cs_stuff/TeachMe/app/assets/stylesheets/application.css.scss */
body {
  background: url(img/library-blur.jpg);
  color: #141414;
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 0 0;
}

/* line 26, /Users/Nisha/cs_stuff/TeachMe/app/assets/stylesheets/application.css.scss */
h1 {
  font-family: 'Graduate', cursive;
  font-size: 100px;
  color: #D5B942;
}

/* line 32, /Users/Nisha/cs_stuff/TeachMe/app/assets/stylesheets/application.css.scss */
h2 {
  font-family: 'Graduate', cursive;
  font-size: 25px;
}

/* line 37, /Users/Nisha/cs_stuff/TeachMe/app/assets/stylesheets/application.css.scss */
p {
  font-size: 15px;
}

/* line 40, /Users/Nisha/cs_stuff/TeachMe/app/assets/stylesheets/application.css.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 45, /Users/Nisha/cs_stuff/TeachMe/app/assets/stylesheets/application.css.scss */
a:hover {
  text-decoration: none;
  color: #5FBFF9;
}

/* Custom Design */
/* line 52, /Users/Nisha/cs_stuff/TeachMe/app/assets/stylesheets/application.css.scss */
#banner {
  background: url(img/library-blur.jpg);
  background-size: cover;
  padding: 150px 0px;
  text-align: center;
  color: white;
}

/* line 60, /Users/Nisha/cs_stuff/TeachMe/app/assets/stylesheets/application.css.scss */
#banner h1 {
  word-wrap: break-word;
  color: white;
}

/* line 65, /Users/Nisha/cs_stuff/TeachMe/app/assets/stylesheets/application.css.scss */
#signin {
  font-size: 15px;
}

/* line 69, /Users/Nisha/cs_stuff/TeachMe/app/assets/stylesheets/application.css.scss */
.features {
  margin-top: 40px;
}

/* line 73, /Users/Nisha/cs_stuff/TeachMe/app/assets/stylesheets/application.css.scss */
.description {
  color: white;
  font-size: 30px;
}

/* line 78, /Users/Nisha/cs_stuff/TeachMe/app/assets/stylesheets/application.css.scss */
.feat {
  text-align: center;
  border-radius: 10px;
  padding: 0px;
  color: white;
}

/* line 85, /Users/Nisha/cs_stuff/TeachMe/app/assets/stylesheets/application.css.scss */
.logo {
  width: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
}

/* line 91, /Users/Nisha/cs_stuff/TeachMe/app/assets/stylesheets/application.css.scss */
#footer {
  text-align: center;
  margin: 5px;
  color: black;
}
