/* line 3, /Users/TommysMAC/Computer Science /TeachMe/app/assets/stylesheets/application.css.scss */
.header {
  display: inline-block;
  width: 200px;
}

/*
  Searchbar CSS
*/
/* line 14, /Users/TommysMAC/Computer Science /TeachMe/app/assets/stylesheets/application.css.scss */
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
/* line 23, /Users/TommysMAC/Computer Science /TeachMe/app/assets/stylesheets/application.css.scss */
* html .ui-autocomplete {
  height: 100px;
}

/* line 27, /Users/TommysMAC/Computer Science /TeachMe/app/assets/stylesheets/application.css.scss */
.course-search input {
  width: 50%;
  font-size: 1em;
  padding: .5em 1.3em;
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 2em;
  outline: none;
}

/* line 37, /Users/TommysMAC/Computer Science /TeachMe/app/assets/stylesheets/application.css.scss */
.course-search input:focus {
  border-color: #A5CEF5;
}

/* line 42, /Users/TommysMAC/Computer Science /TeachMe/app/assets/stylesheets/application.css.scss */
.course-search .results .ui-widget-content {
  width: 50%;
  background: #fff;
  font-size: .9em;
  padding: .5em 0;
  border-color: #ddd;
  box-shadow: 0 0.1em 0.2em rgba(187, 187, 187, 0.64);
  line-height: 1.2;
  max-height: 20em;
  overflow: hidden;
  overflow-y: auto;
}

/* line 55, /Users/TommysMAC/Computer Science /TeachMe/app/assets/stylesheets/application.css.scss */
.course-search .results .ui-menu-item {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  padding: .4em .6em .4em 2.2em;
  position: relative;
  border: 0;
  border-left: 5px solid transparent;
  position: relative;
  height: 3.5em;
}

/* line 65, /Users/TommysMAC/Computer Science /TeachMe/app/assets/stylesheets/application.css.scss */
.course-search .results .ui-state-focus {
  background: #fff;
  border-left-color: #08c;
  font-weight: 300;
}

/* line 71, /Users/TommysMAC/Computer Science /TeachMe/app/assets/stylesheets/application.css.scss */
.course-search .results .ui-menu-item .title {
  display: block;
  color: #555;
}

/* line 76, /Users/TommysMAC/Computer Science /TeachMe/app/assets/stylesheets/application.css.scss */
.course-search .results .ui-state-focus .title {
  color: #08c;
}

/*
  Searchbar CSS End
*/
