/* line 4, /Users/jamesjiang/TeachMe/TeachMe/app/assets/stylesheets/main.css.scss */
h1 {
  font-family: 'Graduate', cursive;
  font-size: 150px;
  color: #D5B942;
}

/* line 10, /Users/jamesjiang/TeachMe/TeachMe/app/assets/stylesheets/main.css.scss */
h5 {
  font-family: 'Graduate', cursive;
  font-size: 30px;
  color: #D5B942;
}

/* line 16, /Users/jamesjiang/TeachMe/TeachMe/app/assets/stylesheets/main.css.scss */
h4 {
  font-family: 'Graduate', cursive;
  font-size: 30px;
  color: #D5B942;
}

/* line 22, /Users/jamesjiang/TeachMe/TeachMe/app/assets/stylesheets/main.css.scss */
.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
