<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>TeachMe</title>
		<link href="https://fonts.googleapis.com/css?family=Graduate|Montserrat:400,700" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    	<%= stylesheet_link_tag    "home", media: "all", "data-turbolinks-track" => true %>
		<link rel="stylesheet" href="style.css">		
	</head>
	
	<body>
		<div id="banner">
			<h1>TeachMe</h1>
			<p class="description">Real time, location based tutoring</p>
			<p class="description"><a href="/auth/google_oauth2" class="btn btn-primary btn-lg">Join Us!</a></p>
			<p class="description" id="signin">Already have an account? <a href="/auth/google_oauth2" id="signinlink">Sign in!</a></p>
			<div class="container">
				<div class="row features">
					<div class="col-xs-12 col-md-4">
						<div class="feat">
							<img src="img/briefcase.png" class="logo" alt="">
							<h2>Convenient</h2>
							<p>Find tutors at <strong>your</strong>	location</p>
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="feat"> 
							<img src="img/laptop.png" class="logo" alt="">
							<h2>Easy</h2>
							<p>Filter by class, topic or department</p>
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="feat">
							<img src="img/heart.png" class="logo" alt="">
							<h2>Fun</h2>
							<p>Earn points for tutoring others</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
				<p>808 Inc.</p>
		</div>	

		
		
		<!-- jQuery & Bootstrap javascript files -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  	</body>
</html>