

.header {
  display: inline-block;
  width: 200px;

}


/*
  Searchbar CSS
*/

      .ui-autocomplete {
          max-height: 100px;
          overflow-y: auto;
          /* prevent horizontal scrollbar */
          overflow-x: hidden;
        }
        /* IE 6 doesn't support max-height
         * we use height instead, but this forces the menu to always be this tall
         */
        * html .ui-autocomplete {
          height: 100px;
        }

      .course-search input {
        width: 50%;
        font-size: 1em;
        padding: .5em 1.3em;
        background: transparent;
        border: 1px solid #ddd;
        border-radius: 2em;
        outline: none;
      }

      .course-search input:focus {
        border-color: #A5CEF5;
      }

      // Styles the dropdown
      .course-search .results .ui-widget-content {
        width: 50%;
        background: #fff;
        font-size: .9em;
        padding: .5em 0;
        border-color: #ddd;
        box-shadow: 0 .1em .2em rgba(187, 187, 187, 0.64);
        line-height: 1.2;
        max-height: 20em;
        overflow: hidden;
        overflow-y: auto;
      }
      // Styles each element in the dropdown
      .course-search .results .ui-menu-item {
        font-family: 'Helvetica Neue', Helvetica, sans-serif;
        padding: .4em .6em .4em 2.2em;
        position: relative;
        border: 0;
        border-left: 5px solid transparent;
        position: relative;
        height: 3.5em;
      }
      //
      .course-search .results .ui-state-focus {
        background: #fff;
        border-left-color: #08c;
        font-weight: 300;
      }

      .course-search .results .ui-menu-item .title {
        display: block;
        color: #555;
      }

      .course-search .results .ui-state-focus .title {
        color: #08c;
      }

/*
  Searchbar CSS End
*/
