/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Font and Color */
@import "bootstrap";
@import "font-awesome";
body {
  background: #C3C6CF;
  color: rgb(20,20,20);
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 0 0;
}

h1 {
  font-family: 'Graduate', cursive;
  font-size: 100px;
  color: #D5B942;
}

h2 {
  font-family: 'Graduate', cursive;
  font-size: 25px;
}

p {
  font-size: 15px;
}
a {
  text-decoration: none;
  color:white;
}

a:hover {
  text-decoration: none;
  color: #5FBFF9;
}

/* Custom Design */

#banner {
  background-image: image-url("libraryblur.jpg");
  background-size: cover;
  padding: 150px 0px;
  text-align: center;
  color: white;
}

#banner h1 {
  word-wrap: break-word;
  color: white;
}

#signin {
  font-size: 15px;
}

.features {
  margin-top: 40px;
}

.description {
  color: white;
  font-size: 30px;
}

.feat {
  text-align: center;
  border-radius: 10px;
  padding: 0px;
  color: white;
}

.logo {
  width: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
}

#footer {
  text-align: center;
  margin: 5px;
  color: black;
}
