// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-family: 'Graduate', cursive;
  font-size: 150px;
  color: #D5B942;
}

h5 {
  font-family: 'Graduate', cursive;
  font-size: 30px;
  color: #D5B942;
}

h4 {
  font-family: 'Graduate', cursive;
  font-size: 30px;
  color: #D5B942;
}